<style>
    @import url(/stylesheets/404.error.css);
</style>

<div class="Error404Container">
    <h1>404 - Page Not Found</h1>
    <p>We're sorry, but the page you requested could not be found.</p>
    <p>Go back to <a href="/admin/dashboard">home Page</a>.</p>
</div>